* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
  }
  
  .container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
  .lead {
    font-size: 1.5rem;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
  }
  
  .navbar ul li a:hover {
    color: skyblue;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    scroll-snap-align: center;
  }
  
  section h1 {
    font-size: 4rem;
  }
  
  /* Section Images */
 section#home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("vidisha.jpg");
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }

  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
  section#about{
    padding-top: 2%;
    background:url('about.jpg') no-repeat center center/cover;
    color: white;
  }

  
  .column {
    float: left;
  }
  
  .left {
    width: 80%;
    margin-left: 10%;
  }
  .left h1{
    font-family: cursive;
  }
  .left p {
    padding-top: 5%;
    text-align: start;
    font-family: serif;
    font-size: 17px;
  }
  
  .right {
    width: 20%;
    margin-top: 2%;
    margin-right: 10%;
  }
  .right h1{
    padding-top: 7%;
    font-family: cursive;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .tags ul li {
    display: inline-block;
    margin: 0 0.3em 0.3em 0;
    padding: 0;
  }
  .tags ul li span {
    display: inline-block;
    max-width: 200px;
    height: 28px;
    line-height: 28px;
    padding: 0 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  /* section#skills {
      padding-top: 0.5rem;
  }
  #content {
    padding: 0.5rem;
    width: 100%;
    display: flex;
  }
  
  #left,
  #right {
    padding: 0.5rem;
    flex-grow: 1;
    color: #fff;
  } */
  section#projects{
    height: 100vh;
    width: 100%;
    overflow: scroll;
  }
  
  section#projects.main {
    /* max-width: 1000px; */
    margin: auto;
  }
  
  .main h1 {
    font-size: 50px;
    word-break: break-all;
    padding-top: 55px;
  }
  
    .row {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
    font-family: Arial;
    color: black;
    
  }
  .one{
    display: inline;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    box-sizing: border-box;
    border: 1px solid #000;
    text-align: center;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
  
  section#contact {

   background: url('cm_bg.jpg') no-repeat center center/cover;
   bottom:0;
   width:100%;
   height:30%;
  } 

  .social a{
    padding-left: 2%;
    font-size:5em;
    text-decoration: none;
  }


  